		*{
			box-sizing: border-box;
		}
		body{
			overflow: hidden;
		}
		.jae-map-widget-container{
			position: absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			z-index:998;
			overflow:hidden;			
		}
		#jae-branch-map{
			position: relative;
			width:100%;
			height:100%;
			z-index:998;
		}
		#jae-branch-map-address-input{
			width:100%;
			margin:20px 0px;
			padding:10px;
			border-radius:20px;
			border:1px solid #666;
		}
		.jae-info-area{
			position: absolute;
			top: 55px;
			left:30px;
			width:450px;
			height:auto;
			background:#FFF;
			border-radius:4px;
			z-index:1000;
			padding:20px;
			-webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
			box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
			font-family:'Quicksand', sans-serif;
			color:#666666;			

		}
		.branch-name{
			display: block;
			font-size:29px;
			font-weight:bold;
			margin-bottom:10px;
		}
		.branch-address, .branch-tel, .branch-email{
			display:block;
			line-height:35px;
		}
		.box-heading{
			font-size:26px;
			font-weight:bold;
			font-family:'Quicksand', sans-serif;
			margin:25px 0px 10px 0px;			
		}
		.box-text{
			font-size:20px;
			font-family:'Quicksand', sans-serif;			
		}
		.separator{
			border-top:1px solid #666;
			margin:20px 0px;
		}
		.btn-branch-details{
			
		}


		/* Smartphones (portrait and landscape) ----------- */
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		/* Styles */
		}

		/* Smartphones (landscape) ----------- */
		@media only screen and (min-width : 321px) {
		/* Styles */
		}

		/* Smartphones (portrait) ----------- */
		@media only screen and (max-width : 320px) {
		/* Styles */
			.jae-info-area{
				position: absolute;
				left:0px;
				width:320px;
				top:0px;				
				z-index:1000;				
			}
		}